.d-inline-block{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.flex-flow-column{
    flex-flow: column;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-start{
    align-items: flex-start;
}
